@using BabyMemory_V2.Web.Startup
@model BabyMemory_V2.Model.Childern.ChildrenDto[];
@{
    ViewData["Title"] = L("Children"); 
    ViewBag.CurrentPageName = PageNames.Children;
}

<div class="d-flex justify-content-between mb-2">
    <div class="ml-2">
        <h1>@L("Children")</h1>
    </div>
    <div class="m-2">
        <a href="/Children/Add" class="btn btn-secondary text-uppercase elevation-3">@L("AddChildren")</a>
    </div>
</div>
<div class="row ml-2 mr-2 d-flex">
    @{
        System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
    }
    @foreach (var item in Model)
    {
        <div class="card mb-4 mr-4 col-lg-3 elevation-2">
            <img src="@Url.Content(item.Picture)" class="img-fluid rounded mt-2 elevation-3" data-toggle="tooltip" data-placement="bottom" title="Title" alt="@L("Picture")" style="height: 200px; width: 100%; object-fit: contain"/>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-bold">@(item.Name + " " + item.LastName)</li>
                    <li class="list-group-item text-center">@item.BirthDate.Date.ToString("dd.MM.yyyy")</li>
                </ul>
            </div>
            <a href="/Children/Profile?id=@item.Id" class="btn btn-secondary mb-2 elevation-3">@L("Profile")</a>
        </div>
    }
</div>
