@model BabyMemory_V2.Model.Childern.ChildrenDto[];
@{
    ViewData["Title"] = L("Children");
}
<div class="d-flex justify-content-between">
    <div class="ml-2">
        <h1>@L("Children")</h1>
    </div>
    <div class="m-2">
        <a href="/Children/Add" class="btn btn-secondary text-uppercase">@L("AddChildren")</a>
    </div>
</div>
<div class="row col-9">
    @{
        System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
    }
    @foreach (var item in Model)
    {
        <div class="card ml-2 col-6 col-lg-3">
            <img src="@Url.Content(item.Picture)" class="img-thumbnail rounded mt-1" data-toggle="tooltip" data-placement="bottom" title="Title" alt="@L("Picture")" />
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">@(item.Name + " " + item.LastName)</li>
                    <li class="list-group-item text-center">@item.BirthDate</li>
                </ul>
            </div>
                <a href="/Children/Profile?id=@item.Id" class="btn btn-secondary mb-2">@L("Profile")</a>
        </div>
    }
</div>
